<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nginx-example</title>
  </head>
  <body>
    <h1>{{ config_value "index_message" }}</h1>
    <p>Server: {{ config_value "server_name" }}</p>
  </body>
</html>
