global:
  checkNewVersion: false
  sendAnonymousUsage: false
api:
  dashboard: true
  insecure: true
log:
  filePath: /var/log/traefik-proxy.log
  level: {{ config_value "log_level" }}
  format: json
accessLog:
  filePath: /var/log/traefik-access.log
  format: json
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    forwardedHeaders:
      trustedIPs:
{{- range config_value "trusted_loadbalancers" }}
        - "{{ . }}"
{{- end }}
    proxyProtocol:
      trustedIPs:
{{- range config_value "trusted_loadbalancers" }}
        - "{{ . }}"
{{- end }}
    http:
      tls:
        certResolver: leresolver
        domains:
          - main: "{{ config_value "edge_cert_main" }}"
            sans:
{{- range $san := (config_value "edge_cert_sans") }}
              - "{{ $san }}"
{{- end }}
    http2:
      maxConcurrentStreams: 250
providers:
  file:
    filename: {{ config_ref "dynamic_yml" }}
certificatesResolvers:
  leresolver:
    acme:
      email: "{{ config_value "acme_email" }}"
      storage: "{{ config_value "acme_vault_path" }}"
      vaultStorage:
        url: "{{ config_value "vault_url" }}"
        enginePath: "acme/traefik"
        lockOwnerId: "env:VAULT_LOCK_ID"
        staleLock: "30m"
        tls:
          caBundle: {{ config_ref "ca_chain" }}
          cert: {{ config_ref "vault_client_crt" }}
          key: {{ secret_ref "vault_client_key" }}
        auth:
          certAuth:
            name: "edge_vault"
      dnsChallenge:
        provider: route53
        resolvers:
          - "8.8.8.8:53"
          - "1.1.1.1:53"
