[DEFAULT]
user=ocid1.user.oc2..aaaaaaaahsobkvht7byuzfurautjt24qqemsgb3drbx7tmnt23l6nwcdj5hq
fingerprint=f0:bb:2d:18:c1:7b:41:37:e0:79:7a:b7:7b:e6:3b:e9
tenancy=ocid1.tenancy.oc2..aaaaaaaaztghivfmhtwracbdfracqmjhhiybu474b63t7pvds4dncv6pdn6a
region=us-langley-1
key_file={{ secret_ref "oci_image_store_key" }}
