DRONE_DATABASE_DATASOURCE="/data/database.sqlite"
DRONE_COOKIE_SECRET={{ secret_value "cookie_secret" }}
DRONE_DATABASE_SECRET={{ secret_value "database_secret" }}
DRONE_GITHUB_CLIENT_SECRET={{ secret_value "github_client_secret" }}
DRONE_RPC_SECRET={{ secret_value "rpc_secret" }}
DRONE_TRACE=true
DRONE_DATADOG_ENABLED=false
DRONE_DATADOG_ENDPOINT=""
