image: {{ config_value "whoami_image" }}
replicas: 1
args:
  - --port=2001
  - --verbose
labels:
  traefik.enable: "false"
  traefik.swarm.network: {{ runtime_value "{networks_shared}" }}
overlays:
  partitions:
    - name: dev
      match:
        partition: dev
      labels:
        traefik.enable: "true"
        traefik.http.routers.whoami-dev.entrypoints: websecure
        traefik.http.routers.whoami-dev.rule: '{{ printf "Host(`whoami.%s.%s`)" (runtime_value "{partition}") (config_value "internal_domain") }}'
        traefik.http.routers.whoami-dev.tls: "true"
        traefik.http.routers.whoami-dev.service: "whoami-dev"
        traefik.http.services.whoami-dev.loadbalancer.server.port: "2001"
    - name: qa
      match:
        partition: qa
      labels:
        traefik.enable: "true"
        traefik.http.routers.whoami-qa.entrypoints: websecure
        traefik.http.routers.whoami-qa.rule: '{{ printf "Host(`whoami.%s.%s`)" (runtime_value "{partition}") (config_value "internal_domain") }}'
        traefik.http.routers.whoami-qa.tls: "true"
        traefik.http.routers.whoami-qa.service: "whoami-qa"
        traefik.http.services.whoami-qa.loadbalancer.server.port: "2001"
